aiohttp>=3.11.0
aiosqlite>=0.20.0
beautifulsoup4>=4.12.3
FastTelethonhelper
lyricsgenius>=3.0.1
lxml>=5.3.0
pillow>=11.0.0
python-dotenv>=1.0.1
requests>=2.32.0
selenium>=4.27.0
shazamio>=0.8.1
spotdl>=4.2.10
spotipy>=2.25.0
Telethon>=1.37.0
webdriver-manager>=4.0.2
wget>=3.2
yt-dlp>=2025.1.15
